html{
    text-align: center;
    color: white;
    background-color: rgb(62, 62, 62);
    font-family: lucida console, monospace;
}

/* .numberContent{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr 1fr 4fr;
} */

.parenLeft, .areaCode, .parenRight, .firstThree, .hyphen, .finalDigits{
    display: inline;
}

.explanationText{
    display: inline;
    font-size: 0.5rem;
    color: rgb(195, 195, 195);
}

input[type = 'button']{
    font-family: lucida console, monospace;
    background-color: rgb(139, 137, 137);
}

input[type = 'text']{
    font-family: lucida console, monospace;
    font-size: 0.7rem;
}

.verification{
    font-size: 0.7rem;
    display: inline;
    color: rgb(113, 195, 95);
}

.verticalFiller{
    margin: 2rem;
}

.passInstruction{
    font-size: 0.7rem;
    margin: 1rem;
}

.passWrapper{
    display: none;
   background-color: rgb(46, 46, 46); 
   border-radius: 10px;
   max-width: 50%;
   margin-left: auto;
   margin-right: auto;
   padding-top: 1rem;
   padding-bottom: 1rem;
}

.passPhrase{
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    margin: 1rem;
    font-size: 0.5rem;
}

.submitPass{
    display: inline;
}

.generateLastDigits{
    display: none;
    margin-left: auto;
    margin-right: auto;
}

.feedback{
    color:rgb(197, 51, 51);
    font-size: 0.7rem;
    margin: 1rem;
}

/* .wrapper{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}

.numberContent{
    padding: 20px;
    min-width: 25%;
    background-color: rgb(83, 83, 83);
    border-radius: 10px;
    border: 1px solid rgb(103, 103, 103);
} */