div.button{
    display:block;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(59, 74, 77);
    width: 75%;
    height: 1em;
    margin-left: 1em;
    margin-bottom: 3rem;
    margin-top: 1rem;
    padding: 2em;
    border-left: 5px solid #9fbfb3ff;

    font-family: 'roboto', sans-serif;
    font-size: 1em;
    text-decoration: none;
}
div.button:visited{
    /* border-left: 5px solid #ad564eff; */
    color: #9fbfb3ff;
}
div.button:hover{
    background-color: rgb(181, 179, 165);
    border-left: 5px solid #ffffffff;
    color: #ffffffff;
}
div.button:active{
    /* background-color: #9fbfb3ff; */
    color: #ff7b5dff;
}

br{
    margin: 1em;
}