@import url('https://fonts.googleapis.com/css?family=Source Code Pro');

html{
  font-family: 'Source Code Pro', sans-serif;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: rgb(247, 247, 247);
}

:root {
  /* --grid-cols: 1;
  --grid-rows: 1;
  width: 50%;
  text-align: center; */
  position: absolute;
  left: 10%;
  top: 10%;
}

#activeColorPreview{
  background-color: red;
  width: 1.4rem;
  height: 1.4rem;
}

.button{
  margin-right: 3px;
  font-family: 'Source Code Pro', sans-serif;
  cursor: pointer;
  background-color: white;
}

.menuContainer{
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 7fr;
}

#menuBar{
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  margin-bottom: 1rem;
}

.generalContainer{
  display: flex;
  gap: 20px;
  width: 90%;
}

#canvasContainer {
  /* position: absolute;
  top: -50px;
  left: -50px; */
  display: grid;
  grid-gap: 0;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  border: 0.5px solid #ddd;
  background-color: white;
}

.gridItem {
  padding: 1em;
  text-align: center;
  border: 0.5px solid #ddd;
}

.gridItem:hover{
  cursor: crosshair;
}

#UIContainer{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

br{
  margin: 1px;
  font-size: 1px;
}

/* COLOR BOXES */

.colorContainer{
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 1fr 6fr;
  width: 75%;
}

.colorContainer:hover{
  cursor: pointer;
}

.colorDescriptor{
  display: table-cell;
  padding-top: 8px;
  font-size: 0.7rem;
}

.colorPreview{
  width: 30px;
  height: 30px;
}

#redPreview{
  background-color: red;
}

#orangePreview{
  background-color: orange;
}

#yellowPreview{
  background-color: yellow;
}

#greenPreview{
  background-color: green;
}

#bluePreview{
  background-color: blue;
}

#purplePreview{
  background-color: purple;
}

#brownPreview{
  background-color: brown;
}

#blackPreview{
  background-color: black;
}

#whitePreview{
  background-color: white;
}

#customPreview{
  background-color: transparent;
}

#eraserPreview{
  text-align: center;padding-top: 5px;
}

#eyedropperPreview{
  text-align: center;padding-top: 5px;
}

/* GENERAL SIDE UI */
.sideUIContainer{
  padding-bottom: 2rem;
  margin-bottom: 1rem;
}

.boxDescription{
  padding-bottom: 10px;
}

#setBGColor{
  margin-bottom: 1rem;
}


/* SLIDERS */

#slidersContainer{
  display: grid;
  grid-gap: 3px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.RGBSliderContainer{
  display: inline-flex;
  gap: 10px;
}

.slider {
  /* width: 100%; */
  height: 10px;
  background: #d3d3d3;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity 0.2s;
  border: 0.5px solid #ddd;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  height: 15px;
  background: var(--sliderColor);
  cursor: pointer;
}

/* mozilla */
.slider::-moz-range-thumb {
  width: 5px;
  height: 15px;
  background: var(--sliderColor);
  cursor: pointer;
}

#redSlider{
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,0,0,1) 100%);
}

#greenSlider{
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,255,0,1) 100%);
}

#blueSlider{
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,255,1) 100%);
}

/* HISTORY */
#historyBoxContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.historyItem{
  width: 30px;
  height: 30px;
  cursor: var(--historyCursor);
}