@import url('https://fonts.googleapis.com/css?family=Source Code Pro');

html{
  font-family: 'Source Code Pro', sans-serif;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:root {
  /* --grid-cols: 1;
  --grid-rows: 1;
  width: 50%;
  text-align: center; */
  position: absolute;
  left: 10%;
  top: 10%;
}

.generalContainer{
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 1fr 1fr 1fr;
}

#canvasContainer {
  /* position: absolute;
  top: -50px;
  left: -50px; */
  display: grid;
  grid-gap: 0;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  border: 1px solid #ddd;
}

.gridItem {
  padding: 1em;
  text-align: center;
  border: 1px solid #ddd;
}

#UIContainer{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

br{
  margin: 1px;
  font-size: 1px;
}

/* COLOR BOXES */

.colorContainer{
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 1fr 6fr;
  width: 75%;
}

.colorDescriptor{
  display: table-cell;
  padding-top: 5px;
}

#redPreview{
  background-color: red;
  width: 30px;
  height: 30px;
}

#orangePreview{
  background-color: orange;
  width: 30px;
  height: 30px;
}

#yellowPreview{
  background-color: yellow;
  width: 30px;
  height: 30px;
}

#greenPreview{
  background-color: green;
  width: 30px;
  height: 30px;
}

#bluePreview{
  background-color: blue;
  width: 30px;
  height: 30px;
}

#purplePreview{
  background-color: purple;
  width: 30px;
  height: 30px;
}

#brownPreview{
  background-color: brown;
  width: 30px;
  height: 30px;
}

#blackPreview{
  background-color: black;
  width: 30px;
  height: 30px;
}

#customPreview{
  background-color: white;
  border: 1px solid #ddd;
  width: 30px;
  height: 30px;
}