/* not used */
figure a img{
    width: 75%;
    background-color: #ffffffff;
}

.documentation-br{
    width: 3em;
}

.grid-documentation{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3px;
}

.grid-documentation img{
    height: 100%;
}