/*custom fonts here -- sans serif specified later as a generic fallback font*/
@import url('https://fonts.googleapis.com/css?family=Source Code Pro|Roboto|Nunito');

/*global*/
/* html{
    
} */
body{
    background-color: #20292bff;
    font-family: 'Nunito', sans-serif;
    color: #d5d3c6ff;
    padding-left: 1em;
    margin: 1rem;
    margin-bottom: 10rem;
}

/*headings*/
h1{
    font-family: 'Source Code Pro', sans-serif;
    color: #ffffffff;
    font-size: 4.5rem;
}
h2{
    font-family: 'Roboto', sans-serif;
    color: #ff7b5dff;
    font-size: 2.5rem;
}
h3{
    font-family: 'Roboto', sans-serif;
    color: #9fbfb3ff;
    font-size: 2rem;
}
h4{
    font-family: 'Roboto', sans-serif;
    color: #ff7b5dff;
    font-size: 1.6rem;
}
h5{
    font-family: 'Roboto', sans-serif;
    color: #9fbfb3ff;
    font-size: 1.3rem;
}
h6{
    font-family: 'Roboto', sans-serif;
    color: #ff7b5dff;
    font-size: 1rem;
}

/*text flare*/
a:link{
    color: #9fbfb3ff;
    text-decoration: underline;
}
a:visited{
    color: #ad564eff;
    text-decoration: underline;
}
a:hover{
    color: #ffffffff;
    text-decoration: none;
}
a:active{
    color: #ff7b5dff;
    text-decoration: none;
}

ol{
    list-style-type: none;
    counter-reset: item;
    color: #ffffffff;
}
ol li:before{
    content: counter(item, upper-roman);
    color: #ad564eff;
    counter-increment: item;
    position: absolute;
    text-align: right;
    margin-left: -1.5em;
}

ul{
    list-style-type: none;
    color: #ffffffff;
    border-left: solid;
    border-left-color: #ad564eff;
    border-width: 4px;
    padding-left: 1.6em;
    margin: 1em;
}

/*button generics*/

a.button{
    display:block;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(59, 74, 77);
    width: 75%;
    height: 1em;
    margin-left: 1em;
    margin-bottom: 3rem;
    margin-top: 1rem;
    padding: 2em;
    border-left: 5px solid #9fbfb3ff;

    font-family: 'roboto', sans-serif;
    font-size: 1em;
    text-decoration: none;
}
a.button:visited{
    /* border-left: 5px solid #ad564eff; */
    color: #9fbfb3ff;
}
a.button:hover{
    background-color: rgb(181, 179, 165);
    border-left: 5px solid #ffffffff;
    color: #ffffffff;
}
a.button:active{
    /* background-color: #9fbfb3ff; */
    color: #ff7b5dff;
}

/*generic*/
hr{
    border: 1px solid #ad564eff;
}
br{
    margin: 3rem;
}
figcaption{
    color: #ffffffff;
}

/*page elements*/
nav{
    background-color: rgb(0,0,0);
    width: 100%;
    height: 2rem;
    position: fixed;
    float: left;
    margin-top: -1rem;
    margin-left: -2rem;
    padding: 1rem;
    padding-bottom: 2em;
    padding-left: 0em;
    z-index:99;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex:1;
    border-left: 0em;
}
nav ul a:link{
    color: rgb(255,255,255);
    text-decoration: none;
    font-family: 'Source Code Pro', sans-serif;
}
nav ul a:visited{
    color: rgb(255,255,255);
}
nav ul a:hover{
    color: #ff7b5dff;
}
nav ul a:active{
    color: rgb(255,255,255);
}

.banner{
    position: relative;
    overflow: hidden;
    background-color: rgb(59, 74, 77);
    width: 105%;
    height: 10rem;
    margin-left: -2rem;
    margin-bottom: 2rem;
    padding: 0px;
}

.banner img{
    max-width: 100%;
    overflow: hidden;
    border-radius: 0px;
    object-fit: fill;
    position: relative;
    margin-left: 0px;
}

.banner .header-txt{
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 300%;
    padding-left: 1rem;
}


@media only screen and (min-width:401px){
    .banner{
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-family: 'Source Code Pro', sans-serif;
        color: #ffffffff;
        font-size: 4.5rem;
    }
    .banner .header-txt{
        top: 3px;
    }
}

@media only screen and (max-width:600px){
    .banner{
        /* padding-top: 5rem; */
        width: 150%;
        font-family: 'Source Code Pro', sans-serif;
        color: #ffffffff;
        font-size: 3rem;
    }
    .banner .header-txt{
        top: 50px;
    }
}

/* index */

.decorative{
    border-radius: 100%;
    height: 10rem;
    width: 10rem;
    margin: 2rem;
    object-fit: cover;
}

@media only screen and (max-width: 600px){
    .decorative{
        float: none;
    }
}

@media only screen and (min-width: 601px){
    .decorative{
        float: right;
    }
}

/* about */

.about-decoration{
    border-radius: 100%;
}

@media only screen and (max-width: 700px){
    .about-decoration{
        height: 12rem;
        width: 12rem;
    }
}

@media only screen and (min-width: 701px){
    .grid-about{
        display: grid;
        grid-template-columns: 1.25fr 0.75fr;
    }
}

/* gallery */

.gallery a img{
    width: 20rem;
    height: 20rem;
    object-fit: cover;
}

.gallery-br{
    margin: 1rem;
}

.gallery{
    width: 100%;
}

.gallery a{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-evenly;
    flex: 1rem;
    display: inline-block;
}

/* documentation */

figure a img{
    width: 75%;
    background-color: #ffffffff;
}

.documentation-br{
    width: 3em;
}

.grid-documentation{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3px;
}

.grid-documentation img{
    height: 100%;
}